.drawer{
    position: fixed;
    top: 0;
    left: -270px;
    height: 100vh;
    width: 250px;
    z-index: 999;
    transition: left .5s;
}

.drawer-overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 998;
}