.dropdown-submenu {
    position:relative;

    .dropdown-menu {
        top:0;
        left:100%;
    }
}

.dropdown-menu{
    margin-top: 0;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 0.5rem;
}

li.dropdown-item:hover > ul.dropdown-menu,
li.dropdown:hover > ul.dropdown-menu{
    display: block;
}

li.dropdown-item:hover {
    background: rgba(0, 0, 0, 0.75) !important;
}

nav a{
    text-decoration: none !important;
    font-size: 80% !important;
}

header {
    nav ul.menu > li{
        > a {
            padding-bottom: 17px;
            border-bottom-width: 3px;
            border-bottom-style: solid;
            border-bottom-color: #FFF;
            transition: border-bottom-color 0.2s;
        }

        &:hover{
            > a{
                border-bottom-color: #053E80;
                transition: border-bottom-color 0.2s;
            }
        }
    }
}
